/* Home Page */
.dropdownCart{
    width: 500%;
  }
  
  .home {
      display: flex;
      background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    }
    
    .display{
      display:flex;
    }
    
    .filters > span {
      padding-bottom: 20px;
    }
    
    .title {
      font-size: 30px;
    }
    
    .productContainer {
      display: flex;
      width: 78%;
      padding: 15px;
      flex-wrap: wrap;
      justify-content: space-around;
      
    }
    
    .products {
      width: 300px;
      height: auto;
      margin-bottom: 20px;  
    }
  
    .summary {
      width: 30%;
    }
    
    .card-img-top {
      padding: 20px;
      width: 100%;
      height: 20vw;
      object-fit: fill;
    }
      
  /* Filter */
  .filters {
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 10px;
    height: 100vh;
    border-radius: 5px;
  }
  
  .filters2 {
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 10px;
    height: 55vh;
    border-radius: 10px;
  }
  
  /* header styles */
  .color-nav {
      background-color: #485461;
      background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
      border-radius: 0 0 20x 20px;
    }
    
    .header {
      display: block;
      text-align: center;
      font-size: 30px;
      margin: 10px 0;
    }
  
    /* Detail */
    .detail1 {
      display: flex;
      height: 100vh;
      object-fit: cover;
    }
    
    .detailContainer {
      display: flex;
      width: 78%;
      padding: 15px;
      flex-wrap: wrap;
      justify-content: space-around; 
    }
    
    .imageSuccess1{
      width: 50% !important; 
      height: 50% !important;
      object-fit: contain !important;
      display: flex;
    }
      
     /* Success */
    .imageSuccess{
      max-width: 50%;
      height: auto;
    }
    
    .home1 {
      display: flex;
      height: 100vh;
      background: linear-gradient(to right, #e0eafc, #cfdef3);
    }
    
    .filters1 {
      background-color: #485461;
      background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
      color: white;
      padding: 20px;
      display: flex;
      flex-direction: column;
      width: 30%;
      margin: 10px;
      height: 60%;
      border-radius: 10px;
    }
  
    /* Cart Styles */
    .cartitem {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 20px;
      margin-bottom: 20px;
    }
    
    .cartItemImg {
      border-radius: 50%;
      width: 50px;
      height: 50px;
      object-fit: cover;
    }
    
    .cartItemDetail {
      display: flex;
      flex: 1;
      padding: 0 20px;
      flex-direction: column;
    }
    
    .CartButton{
      width: 95%;
      margin: 0 10px;
    }
  
      /* Responsive Tablet */
      @media screen and (max-width: 1400px) {
      
        .detailContainer {
          display: flex;
          width: 70%;
          padding: 15px;
          flex-wrap: wrap;
          justify-content: space-around; 
        }
  
        .imageSuccess1{
          width: 50% !important; 
          height: 30% !important;
          object-fit: contain !important;
          display: flex;
        }
  
        .filters1 {
          background-color: #485461;
          background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
          color: white;
          padding: 20px;
          display: flex;
          flex-direction: column;
          width: 40%;
          margin: 10px;
          height: 70%;
          border-radius: 10px;
        }
      }
    
      @media screen and (max-width: 1200px) {
        .detailContainer {
          display: flex;
          width: 70%;
          padding: 15px;
          flex-wrap: wrap;
          justify-content: space-around; 
        }
  
        .imageSuccess1{
          width: 50% !important; 
          height: 30% !important;
          object-fit: contain !important;
          display: flex;
        }
  
        .filters1 {
          background-color: #485461;
          background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
          color: white;
          padding: 20px;
          display: flex;
          flex-direction: column;
          width: 30%;
          margin: 10px;
          height: 60%;
          border-radius: 10px;
        }
      }
  
      @media screen and (max-width: 992px) {
        
        .filters1 {
          background-color: #485461;
          background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
          color: white;
          padding: 20px;
          display: flex;
          flex-direction: column;
          width: 45%;
          margin: 10px;
          height: 60%;
          border-radius: 10px;
        }
  
        .dropdownCart{
          width: 500%;
        }
    
        .detail1 {
          display: flex;
          height: auto;
          object-fit: cover;
        }
      
        .detailContainer {
          display: flex;
          width: 70%;
          padding: 15px;
          flex-wrap: wrap;
          justify-content: space-around; 
        }
  
        .imageSuccess1{
          width: 50% !important; 
          height: 35% !important;
          object-fit: contain !important;
          display: flex;
        }
        
        .filters {
          width: 30%;
          padding: 10px;
          margin: 5px;
          object-fit: cover;
        }
      
        .filters > span {
          font-size: 14px;
        }
      
        .title {
          font-size: 20px !important;
        }
      
        .productContainer {
          display: flex;
          padding: 15px;
          flex-wrap: wrap;
          justify-content: space-around;
          width: 70%;
          border-radius: 50px;
        }
      
        .search {
          display: none !important;
        }
      
        .products {
          width: 48%;
          height: auto;
          margin-bottom: 20px;
        }
      
        .card-img-top {
          padding: 15px;
          width: 100%;
          height: 35vw;
          object-fit: fill;
        }
      }
  
    /* Responsive Mobile */
  
    @media screen and (max-width: 768px) {
      
      .filters1 {
        background-color: #485461;
        background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
        color: white;
        padding: 20px;
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 10px;
        height: 80%;
        border-radius: 10px;
      }
  
      .dropdownCart{
        width: 420%;
      }
  
      .detail1 {
        display: flex;
        height: auto;
        object-fit: cover;
      }
    
      .detailContainer {
        display: flex;
        width: 80%;
        padding: 15px;
        flex-wrap: wrap;
        justify-content: space-around; 
      }
    
      .imageSuccess1{
        width: 50% !important; 
        height: 30% !important;
        object-fit: contain !important;
        display: flex;
      }
    
      .filters {
        width: 40%;
        padding: 10px;
        margin: 5px;
        object-fit: cover;
      }
    
      .filters > span {
        font-size: 12px;
      }
    
      .title {
        font-size: 18px !important;
      }
    
      .productContainer {
        display: flex;
        padding: 15px;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 58%;
        border-radius: 50px;
      }
    
      .search {
        display: none !important;
      }
    
      .products {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
      }
    
      .card-img-top {
        padding: 15px;
        width: 100%;
        height: 50vw;
        object-fit: fill;
      }
    }
  
    @media screen and (max-width: 576px){
      
      .detailContainer {
        display: flex;
        width: 70%;
        padding: 15px;
        flex-wrap: wrap;
        justify-content: space-around; 
      }
  
      .title-detail{
        font-size: 14px !important;
      }
  
      .text-detail{
        font-size: 12px;
      }
  
      .imageSuccess1{
        width: 50% !important; 
        height: 20% !important;
        object-fit: contain !important;
        display: flex;
      }
  
      .filters1 {
        background-color: #485461;
        background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
        color: white;
        padding: 20px;
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 10px;
        height: 65%;
        border-radius: 10px;
      }
  
      .dropdownCart{
        width: 350%;
      }
  
      .cartitem {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 20px;
        margin-bottom: 20px;
      }
      
      .cartItemImg {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        object-fit: cover;
      }
      
      .cartItemDetail {
        display: flex;
        flex: 1;
        padding: 0 20px;
        flex-direction: column;
      }
  
      .CartSize{
        font-size: 12px;
      }
  
      .CartButton{
        font-size: 0.85rem !important;
      }
  
      .detailContainer {
        display: flex;
        width: 80%;
        padding: 15px;
        flex-wrap: wrap;
        justify-content: space-around; 
      }
    
      .imageSuccess1{
        width: 50% !important; 
        height: 20% !important;
        object-fit: contain !important;
        display: flex;
      }
    }